<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaEntidad.Properties.Settings.msforraje_prac1ConnectionString"
            connectionString="Data Source=ARIEL-NTB;Initial Catalog=msforraje_prac1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>